/**
    DEFAULT STYLES ====================================================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --font-family-primary: Inter, 'Source Sans Pro';

    --primary-color: #111111;
    --secondary-color: #c5c20d;
    --tertiary-color: #151515;
    --line-details-color: #1F1F1F;
    --font-details-color: #9CA3AF;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


body {
    font-family: var(--font-family-primary);
    background-color: var(--primary-color);
    color: #FFF;
    overflow-y: auto;
}

main {
    height: 100%;
    width: 100%;
    padding: 2% 5% 2% 5%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    color: var(--font-details-color);
    font-size: 1rem;
}

.tag {
    color: var(--secondary-color);
}
