/**
    CONTENT HOME STYLES ===========================================================================
*/

.content-home {
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.content-home .welcome-itens h1,
h2 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.content-home .welcome-itens p {
    width: 100%;
    margin-top: 33px;
    margin-bottom: 33px;
}

.content-home .welcome-itens p::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: blink .6s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.welcome-itens a {
    text-decoration: none;
}

.button-cv {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    width: 330px;
    height: 70px;
}

.button-cv:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    width: 340px;
    transition: .5s;
}