body{
    overflow-x: hidden;
}

.project-banner{
    width: 100vw;
    height: 28rem;
    object-fit: cover;
    object-position: 0px 30%;
}

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8rem;
}

.title h4{
    margin-top: 0.5rem;
    color: var(--secondary-color);
}

.links a{
    text-decoration: none;
    color: #FFF;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width: 16.125rem;
    height: 4.75rem;
    font-weight: 700;
    padding: 0.7rem 2rem;
    margin-left: 2.88rem;
}

.links a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}

.content-description{
    margin: 1.25rem 0;
}

.content-description p{
    text-align: center;
    padding: 0 10rem;
    margin-bottom: 6rem;
}


@media (max-width: 870px) {
    .content-header{
        flex-direction: column;
        margin-bottom: 6rem;
    }
    .title{
        margin: 2rem 0;
    }
    .links a{
        width: 10rem;
        padding: 0.7rem 1.5rem;
        margin: 3rem 0.4rem;
    }

    .content-description p{
        padding: 0 2rem;
    }
}