body{
    overflow-x: hidden;
}

.project-banner{
    width: 100vw;
    height: 28rem;
    object-fit: cover;
    object-position: 20% 20%;
}

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8rem;
}

.title h4{
    margin-top: 0.5rem;
    color: var(--secondary-color);
}

.links a{
    text-decoration: none;
    color: #FFF;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width: 16.125rem;
    height: 4.75rem;
    font-weight: 700;
    padding: 0.7rem 2rem;
    margin-left: 2.88rem;
}

.links i{
    color: #FFF;
}

.links a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}

.links a:hover i {
    color: var(--primary-color);
    transition: 0.5s;
}

.content-description{
    margin: 1.25rem 0;
}


.content-techs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10rem;
    margin-bottom: 6rem;
}

.content-description p{
    text-align: center;
    padding: 0 10rem;
    margin-bottom: 6rem;
}

.content-screenshots{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview{
    display: inline-block;
    position: sticky;
    top: 1px;
    max-width: 500px;
    max-height: 650px;
}

.preview span{
    color: var(--secondary-color);
}

.screens{
    padding: 0 10rem;
    width: 100vw;
}

.screen-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.screen-sec h3{
    color: var(--font-details-color);
}

video{
    width: 100%;
}

.screen-sec img{
    width: 100%;
    margin: auto;
    display: block;
}

.return{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: 13.125rem;
    height: 3.75rem;
    font-weight: 700;
    padding: 0.7rem 2rem;
    margin: 0 auto;
}

.return:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 15rem;
    transition: 0.5s;
}

@media (max-width: 870px) {
    .content-header{
        flex-direction: column;
        margin-bottom: 6rem;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }
    .links a{
        width: 10rem;
        padding: 0.7rem 1.5rem;
        margin: 3rem 0.4rem;
    }

    .content-description p{
        padding: 0 2rem;
    }

    .content-techs{
        padding: 0 2rem;
    }

    .screens{
        padding: 0 2rem;
    }
}

@media (max-width: 382px) {
    .links{
        display: flex;
        flex-direction: column;
    }

    .links a{
        padding: 1rem 1rem;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links a i{
        margin: 0.3rem;
    }
}